<%= form_tag('/login', method: :post) do |form| %>
  <div class="form-group">
    Email: <%= email_field_tag :email, "", { required: true, class: "form-control" } %>
  </div>
  <div class="form-group">
    Password: <%= password_field_tag :password, "", { required: true, class: "form-control" } %><br>
  </div>
    <%= submit_tag("Login", class: "btn btn-primary") %>
    <%= link_to "Forgot Password?", new_password_reset_path %>
  </div>
<% end %>
