<%= link_to 'Edit', edit_admin_product_path(@product) %> |
<%= link_to 'Back', admin_products_path %>

<div class="row">
  <div class="col-md-12">
    <p class="lead"><%= @product.name.capitalize %></p>
    <div class="thumbnail">
      <%= image_tag @product.product_image(:original), style: "height: 500px; width: 100%;", class: "img-responsive" %>
      <div class="caption-full">
        <h4>
          $<%= @product.price %>
        </h4>
        <p>
          <%= @product.description.blank? ? @product.description : @product.description.html_safe %>
        </p>
      </div>
    </div>
  </div>
</div>