<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-3">
    <p class="lead">Products</p>
    <div class="row text-center">
      <% Product.all.limit(3).each do |product| %>
        <div class="col-sm-12 col-lg-12 col-md-12">
          <div class="thumbnail">
            <%= image_tag product.product_image(:medium) %>
            <div class="caption">
              <h4 class="pull-right">$<%= product.price %></h4>
              <h4 class="pull-left">
                <%= link_to product.name.capitalize, product %>
              </h4>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  </div>

  <div class="col-md-9">
    <p class="lead"><%= @product.name.capitalize %></p>
    <div class="thumbnail">
      <%= image_tag @product.product_image(:medium_1), class: "img-responsive" %>
      <div class="caption-full">
        <h4>
          $<%= @product.price %>
        </h4>
        <p>
          <%= @product.description.blank? ? @product.description : @product.description.html_safe %>
        </p>
      </div>
    </div>
  </div>
</div>